*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}



.logo a {
    font-size: 35px;
    font-weight: 75;
    font-weight: bold;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #364F6B;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #364F6B;
}

nav ul {
    list-style: none;
    margin: o;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;

}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;

}  

nav ul li a:hover {
   text-decoration: underline; 
}

div p{
    position: relative;
    left: 0px;
    right: 100px;
    top: 30px;
    text-align: center;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}
.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #364F6B;
    position: relative;
    left: 0px;
    top: 30px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364F6B;
    width: 100%;
    line-height: 50px;
    position: relative;
    top: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0,2s;
}
h2:hover{
    letter-spacing: 2px;
}

a.tbl-biru{
    background:#54A7B6 ;
    border-radius: 20px;
    margin-top: 20px;
    color: #FFFFFF;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    transition: 0,2s;
}

a.tbl-biru:hover{
    background: #000000;
    text-decoration: none;
    letter-spacing: 2px;
}

a.tbl-pink{
    background: #54A7B6 ;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    transition: 0,2s;
}

a.tbl-pink:hover{
    background: #000000ca ;
    text-decoration: none;
    letter-spacing: 2px;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

#home{
    background: #dedede;
}
#courses{
    background: #dedede;
}
#contact{
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364F6B;
    width: 100%;
    line-height: 50px;
    text-align: center;
    position: relative;
    top: 50px;
}

#copyright{
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a{
        display: block;
        width: 100%;
        text-align: center
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section{
        display: block;
    }

    section img{
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor{
        width: 50%;
    }

    .kartu-partner{
        width: 50%;
    }
}
